In [1]:
           #ANSWER:1

In [2]:
import pandas as pd
data = ['4', '8', '15', '16', '23','42']
df = pd.Series(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: object

In [4]:
          #ANSWER:2

In [5]:
import pandas as pd 
variable = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(variable)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [6]:
           #ANSWER:3

In [8]:
import pandas as pd

data = {'name': ['Alice' , 'Bob' , 'Claire'],
       'Age':['25','30','27'],
       'Gender':['Female','Male','Female']}
df = pd.DataFrame(data)
print(df)

     name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

In [9]:
           #ANSWER:4

In [10]:
#In pandas, a **DataFrame** is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, or a dictionary of Series objects.
#Each column in a DataFrame can be of a different data type (e.g., integer, float, string, etc.).

#On the other hand, a **Series** is a one-dimensional labeled array that can hold any data type. It can be thought of as a single column of a DataFrame.

#Here's an example to illustrate the difference:

import pandas as pd

# Creating a Series
series_data = pd.Series([10, 20, 30, 40, 50])

# Creating a DataFrame
data = {'Name': ['John', 'Anna', 'Peter', 'Linda', 'James'],
        'Age': [25, 30, 35, 40, 45],
        'City': ['New York', 'London', 'Paris', 'Berlin', 'Tokyo']}

df = pd.DataFrame(data)

print("Series:")
print(series_data)
print("\nDataFrame:")
print(df)

Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

DataFrame:
    Name  Age      City
0   John   25  New York
1   Anna   30    London
2  Peter   35     Paris
3  Linda   40    Berlin
4  James   45     Tokyo

In [11]:
                    #ANSWER:5

In [18]:
"""Certainly! There are numerous functions available in pandas for data manipulation.

1. **`head()` and `tail()`**:
   - **Usage**: To view the first or last few rows of a DataFrame.
   - **Example**:"""
df.head()  # View the first 5 rows
df.tail(3)  # View the last 3 rows

"""2. **`info()`**:
   - **Usage**: To get a concise summary of the DataFrame, including data types and missing values.
   - **Example**:"""
df.info()

"""3. **`describe()`**:
   - **Usage**: Provides summary statistics for numerical columns.
   - **Example**:"""
df.describe()

"""4. **`mean()`, `median()`, `std()`, `max()`, `min()`**:
   - **Usage**: Aggregate functions to calculate statistics.
   - **Example**:"""
   
df['Age'].mean()  # Calculate the mean of the 'Age' column
 

"""5. **`groupby()`**:
   - **Usage**: Group data based on a specific column or columns.
   - **Example**:"""
df.groupby('City')['Age'].mean()  # Calculate the average age for each city

"""6. **`apply()`**:
   - **Usage**: Apply a function along an axis of the DataFrame.
   - **Example**:"""
df['Doubled_Age'] = df['Age'].apply(lambda x: x * 2)  # Create a new column with doubled 


"""7. **`fillna()`**:
   - **Usage**: Fill missing values in the DataFrame.
   - **Example**:"""
df['Age'].fillna(df['Age'].mean(), inplace=True)  # Fill missing age values with the mean age

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         5 non-null      object
 1   Age          5 non-null      int64
 2   City         5 non-null      object
 3   Doubled_Age  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes

In [ ]:
               #ANSWER:6

In [19]:
#In pandas, the Series and DataFrame are mutable, while the Panel is considered to be deprecated as of version 0.25.0 (July 2019) and removed in version 1.0.0 (January 2020).

In [20]:
             #ANSWER:7

In [21]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['John', 'Anna', 'Peter', 'Linda', 'James'])
ages = pd.Series([25, 30, 35, 40, 45])
cities = pd.Series(['New York', 'London', 'Paris', 'Berlin', 'Tokyo'])

# Creating a DataFrame using the Series
data = {'Name': names, 'Age': ages, 'City': cities}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

    Name  Age      City
0   John   25  New York
1   Anna   30    London
2  Peter   35     Paris
3  Linda   40    Berlin
4  James   45     Tokyo